.greetingCard {
    display: flex;
    min-height: 10rem;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right top, green, lime);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    padding: 0;
}
.greeting {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
} 
.greeting::before {
    position: absolute;
    content: '';
    height: 8rem;
    background: linear-gradient(   rgba(0 0 0 / 1), rgba(0 0 0 / 0)      );
    width: 100%;
    margin: 0;
    left: 0;
    top: 0;
}

.greetingText {
    font-size: 3rem;
    color: white;
    font-weight: 900;
    margin: 0;
}

.greetingSubText {
    position: absolute;
    font-weight: 900;
    font-size: 10rem;
    color: rgba(255 255 255 / 0.1);
    margin: 0;
}