.itemCount {
    display: flex;
    
}
span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
}

.buttonCount {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    background: none;
    border: 1px solid black;
}